/*-----------------CSS for the header-------------------------------------------------------*/
header {
    background-color: black;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12,1fr);  /*Grid of 1 row and 12 columns*/
}

#technoshop-logo {
    
    grid-column: 1 / 4; /*Logo taking first 3 columns of the grid*/
    height: 18vh;
    width: 8vw;
    margin: 2vh 3vw;
}

header div {

    grid-column: 4 / 10;  /*TechnoShop header and title taking center 6 columns of the grid*/
    text-align: center;
}

header div h1 {
    margin: 2vh 0 1vh 0;
    font-size: 4vw;
    color: #faf287;
    font-weight: bold;
    text-shadow: 4px 4px 4px orange;       /*Giving neon effect to the text*/
    
}

header div p {
    margin: 0;
    font-size: 1.7vw;
    color: black;
    color: #faf287;
    font-weight: bold;
    font-style: italic;
    text-shadow: 4px 4px 4px orange;
}

#header-gif {
    grid-column: 10 / 13;   /*Allocating last 3 columns of grid to the shopping cart gif*/
    height: 18vh;
    width: 15vw;
    justify-self: right;
    margin-right: 3vw;
}

/*-----------------CSS for the navigation bar-------------------------------------------------------*/

nav {
    background-color: #d6d7d8;
    position: relative;
}

nav ul {
    margin: 0;
    padding: 1vh 0;
    list-style-type: none;
    display: flex;         /*Making the navigation bar as flex*/
    gap: 2vw;             
    justify-content: space-evenly;      
    flex-wrap: wrap;           /*To manage overflow*/         
}

nav ul li {

    padding-top: 1vh;
}

nav ul li a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 1.3vw;
}

nav ul li a:hover {
    color: orangered;
}

.drop-down {
    visibility: hidden;
}

.drop-down li {
    display: none;
}

li:hover > .drop-down {
    visibility: visible;
}

li:hover > ul.drop-down li {
    display: flex;
    flex: 1;
}
li > ul.drop-down {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 20%;
    z-index: 1;
    background-color: rgb(214,215,216,0.95);
    padding: 3vh 1.5vw;
}

#logged-in-user{
    padding: 0;
    color: orangered;
    font-weight: bold;
}

/*-----------------CSS for the footer-------------------------------------------------------*/
footer {
    
    display: grid;
    grid-template-columns: repeat(1fr, 12); /*Dividing grid into 12 columns of equal size*/
    grid-template-rows: auto auto;          /*Dividing grid into 2 rows with auto size (as per the content in it)*/
    color: white;
    font-size: 1.2vw;
    background-color: black;
}

#footer-about-us {

    grid-row: 1 / 2;
    grid-column: 1 / 4;
    padding-left: 3vw;
    
}

#footer-about-us img {
    height: 25vh;
    width: 14vw;
    padding: 1vw;
    margin: 0;
}

footer span {
    font-weight: bold;
}

#footer-navigation {

    grid-row: 1 / 2;
    grid-column: 4 / 7;
}

#footer-navigation ul {
    list-style-type: '‣  ';
}

#footer-navigation a {
    text-decoration: none;
    color: white;
}

#footer-navigation a:hover {
    text-decoration: underline;
    color: white;
}

#footer-shop {

    grid-row: 1 / 2;
    grid-column: 7 / 10;
}

#footer-shop ul {
    list-style-type: '‣  ';
}

#footer-shop a {
    text-decoration: none;
    color: white;
}

#footer-shop a:hover {
    text-decoration: underline;
    color: white;
}

#footer-team-members {

    grid-row: 1 / 2;
    grid-column: 10 / 13;
}

#footer-team-members ul {
    list-style-type: '‣  ';
}

#footer-copyright {

    grid-row: 2 / 3;
    grid-column: 1 / 13;
    justify-self: center;
    margin: 3vh;
    font-size: 1.5vw;
    font-weight: bold;
}

.fa {
    padding: 0.5vw;
    font-size: 2.5vw;
    width: 2.5vw;
    text-align: center;
    text-decoration: none;
    margin: 0 1vw;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

/*-------------------Media Queries-------------------------------------------------------*/
@media  screen and (max-width: 500px){

    header {
        display: flex;
        flex-direction: column;
        align-items: center ;
        height: auto;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex; 
        flex-direction: column;     
        flex-wrap: wrap;        
        align-items: center;     
    }
 nav ul li a {
        font-weight: bold;
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #technoshop-logo {
        width: 15vw;
    }

    #footer-about-us img {
        height: auto;
    }
}
